In [1]:
import pymongo
from pymongo import MongoClient
import pandas as pd
from pprint import pprint
import mysql.connector

In [2]:
MONGO_URI = "mongodb+srv://hungqlworking:IC96WUPzMTJzCkI1@cluster0.temagzq.mongodb.net/netflix_DB?retryWrites=true&w=majority&appName=Cluster0"

In [3]:
client = MongoClient(MONGO_URI)
db = client["netflix_DB"]
collection = db["searchhistories"]
data = list(collection.find()) 
df = pd.DataFrame(data)

In [4]:
df

,_id,userId,id,image,title,searchType,keyword,createdAt,__v
0,66cdbefda76478c2f182da32,66cdbedea76478c2f182da09,1125206,/vPXgslVTOsKm8P26ksLYZsGpVI3.jpg,bigbang,movie,bigbang,2024-08-27 11:56:45.335,0.0
1,66cdbf5aa76478c2f182da49,66cdbedea76478c2f182da09,1434,/y0HUz4eUNUe3TeEd8fQWYazPaC7.jpg,Family Guy,tv,family guy,2024-08-27 11:58:18.723,0.0
2,66cdbf72a76478c2f182da52,66cdbedea76478c2f182da09,1213319,/jcaL90kAd8tH7C0lz2VMzzcumSl.jpg,Ronaldo,person,Ronaldo,2024-08-27 11:58:42.816,0.0
3,66ceaa0e5568e9efbc5bc451,66ceaa0e5568e9efbc5bc450,1083,/ddjbgluvzgftlwrzrnhs.jpg,Forrest Gump,movie,forrest gump,2024-08-28 11:39:42.463,NaN
4,66ceaa0f5568e9efbc5bc453,66ceaa0f5568e9efbc5bc452,1372,/vlxxxmvbiwxqdxtyznyl.jpg,Stranger Things,tv,stranger things,2024-08-28 11:39:43.186,NaN
...,...,...,...,...,...,...,...,...,...
57,66d97fc3aa7db0cbd2275835,66d97fc3aa7db0cbd2275833,1805,/kyoujkktprjdoossvxiv.jpg,Scarlett Johansson,person,scarlett johansson,2024-09-05 16:54:11.660,NaN
58,66d97fc3aa7db0cbd2275836,66d97fc3aa7db0cbd2275833,1550,/ursbqdvfdgqfedkdfiev.jpg,Inception,movie,inception,2024-09-05 16:54:11.707,NaN
59,66d97fc3aa7db0cbd2275837,66d97fc3aa7db0cbd2275833,1012,/lrskohlgnziwyjyuroyc.jpg,Chernobyl,tv,chernobyl,2024-09-05 16:54:11.753,NaN
60,66d97fc3aa7db0cbd2275838,66d97fc3aa7db0cbd2275833,2000,/hxvfhvjyyvbixfzmbray.jpg,Anne Hathaway,person,anne hathaway,2024-09-05 16:54:11.800,NaN
61,66d97fc3aa7db0cbd2275839,66d97fc3aa7db0cbd2275833,1410,/hwdyvdjdplzvchexnhdn.jpg,The Dark Knight,movie,the dark knight,2024-09-05 16:54:11.845,NaN

In [8]:
new_df = df[['userId','searchType','keyword','createdAt']]

In [9]:
new_df

,userId,searchType,keyword,createdAt
0,66cdbedea76478c2f182da09,movie,bigbang,2024-08-27 11:56:45.335
1,66cdbedea76478c2f182da09,tv,family guy,2024-08-27 11:58:18.723
2,66cdbedea76478c2f182da09,person,Ronaldo,2024-08-27 11:58:42.816
3,66ceaa0e5568e9efbc5bc450,movie,forrest gump,2024-08-28 11:39:42.463
4,66ceaa0f5568e9efbc5bc452,tv,stranger things,2024-08-28 11:39:43.186
...,...,...,...,...
57,66d97fc3aa7db0cbd2275833,person,scarlett johansson,2024-09-05 16:54:11.660
58,66d97fc3aa7db0cbd2275833,movie,inception,2024-09-05 16:54:11.707
59,66d97fc3aa7db0cbd2275833,tv,chernobyl,2024-09-05 16:54:11.753
60,66d97fc3aa7db0cbd2275833,person,anne hathaway,2024-09-05 16:54:11.800
61,66d97fc3aa7db0cbd2275833,movie,the dark knight,2024-09-05 16:54:11.845